body{
	font-family:'Open Sans';
	background-color:#000;
}
span{
	padding-left:5px;
	font-size:16px;
}
.menu{
	position:absolute;
	background-color:#333;
	color:#FFF;
	width:20%;
	height:90%;
	top:10%;
	left:0px;
}
.logo{
	left: 0px;
	top: 0px;
	position: absolute;
	width: 20%;
	height: 10%;
	background-color:#428CFF;
}
img{
	position:absolute;
	width:75%;
	height:75%;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.header{
	position:absolute;
	top:5%;
	left:20%;
	height:5%;
	width:80%;
	background-color:#444;
}
.navigation{
	position:absolute;
	top:0px;
	left:20%;
	height:5%;
	width:80%;
	background-color:#444;
}
.tableheader{
	color:#069;
}
#main{
	position:absolute;
	top:10%;
	left:20%;
	height:90%;
	width:80%;
	background-color:#FFF;
}
#option{
	height: 30px;
	padding-left: 15px;
	padding-top:10px;
	transition: all 0.5s ease;
	background-color:#333;
	color:#FFF;
	cursor:pointer;
	font-size:16px;
}
#option:hover{
	background-color:#06C;
}
.headeropt{
	width: 150px;
	color:#FFF;
	cursor:pointer;
	transition: all 0.5s ease;
	text-align:center;
	height: 100%;
	position: relative;
	padding-top:10px;
	float:left;
}
#headeropt:hover{
	background-color:#06C;
}
#welcome{
	padding-left: 10px;
	height: 50px;
	font-size: 24px;
	padding-top: 10px;
}
table{
	top:10px;
	left:15px;
	position:relative;
}
.search{
	top:10px;
	float:right;
	display:inline-block;
	position:relative;
	right:10px;
}
.numrow{
	position:relative;
	width:400px;
	left:25px;
	top:10px;
	font-size:24px;
	color:#06F;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.navmenu{
	width: 150px;
	color:#FFF;
	cursor:pointer;
	transition: all 0.5s ease;
	text-align:center;
	height: 100%;
	position: relative;
	padding-top:10px;
	float:right;
}
.navmenu:hover{
	background-color:#06C;
}
#logout{
	background-color:#06C;
}
#logout:hover{
	background-color:#36F;
}
/* 
 --start of statistic.php--
 normal block for statistic */
#block{
    width:150px;
    height:100px;
    border:none;
    background-color:#06C;
    position:absolute;
    left:20px;
    top:50px;
}
/* span tag inside block for text heading */
#text_block_head{
    font-size:11px;
    color:white;
    text-align:center;
    width:100%;
    height:30px;
    display:block;
}
/*span tag inside block for text result*/
#text_block_body{
    font-size:26px;
    font-family:'Open Sans';
    color:white;
    text-align:center;
    width:100%;
    display:block;
}
/* -- end of statistic.php -- */

